# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Thrashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules
npm-debug.log

# Development
config/settings.json
data/local-music/
dev-data

# Tests
__mocks__
test

# Git
.github
.git

# Root files
.eslintignore
.eslintrc
.gitignore
jest.config.js
