{
  "discord_token": "",
  "prefix": "!",
  "owner_id": "",
  "presence_type": "PLAYING",
  "channel_id": "",
  "shuffle": true,
  "pause_on_empty": true,
  "channel_leave_on_empty": false,
  "soundcloud_client_id": "",
  "youtube_cookie": ""
}
